.CFUserTextEncoding
.DS_Store
.Xauthority
.bash_history
.profile
.sqlite_history
.bash_sessions/
.bundle/
.cache/
.cargo/
.cassandra/
.ccm/
.config/gtk-2.0/
.config/inkscape/
.config/nvim/.netrwhist
.cups/
.dlv/
.docker/
.dropbox/
.gem/
.ghc/
.glide/
.gradle/
.jenv/
.local/
.m2/
.multirust
.node-gyp/
.npm/
.nvm/
.oracle_jre_usage/
.rbenv/
.rustup/
.ssh/
.stack/
.subversion/
.viminfo
.virtualenvs/
.vscode/
.wget-hsts
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
bin/vault
home-int/
logs/
sandbox/
