.CFUserTextEncoding
.DS_Store
.Trash
.Xauthority
.android/
.aws
.bash_history
.bash_sessions/
.bashrc
.bundle/
.cache/
.cargo/
.cassandra/
.ccm/
.config/gtk-2.0/
.config/inkscape/
.config/nvim/.netrwhist
.cups/
.dlv/
.docker/
.dropbox/
.emulator_console_auth_token
.fzf/
.gem/
.ghc/
.gitcookies
.glide/
.gradle/
.jenv/
.local/
.lpass
.m2/
.mysql_history
.multirust
.netrc
.netrc_info
.node-gyp/
.npm/
.nvm/
.oracle_jre_usage/
.pip
.profile
.python_history
.rbenv/
.rustup/
.sqlite_history
.ssh/
.stack/
.subversion/
.vault-token
.viminfo
.virtualenvs/
.vscode/
.wget-hsts
.zshenv
.zshrc
AndroidStudioProjects/
Applications/
Box/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
bin/vault
git-completion.bash
go-code/
google-cloud-sdk/
home-int/
logs/
sandbox/
